
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Durgampudi Leena Reddy</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'C:\Users\leenu\mywebsite\staticfiles\images\Leena.jpg' %}" >
					<hr>
					<h4>Hi, I'm Durgampudi Leena Reddy!</h4>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Let Me Introduce Myself</h4>
					<hr>
					<p> I am currently in third year of BTech and growing in the field of Artificial Intelligence and Data Science, software development, networking, and machine learning. I am familiar with Java, python and C languages and currently working with social and digital media analytics. But above all, I wish to contribute, learn, work as a team. And slowly get accustomed to actual works in information technology industry.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Education</h5>
					<hr>
					<p>Akshara International School                 </p>
					<p>Sri Chaitanya Junior Kalasala                </p>
                    <p>Koneru Lakshmaiah Education Foundation       </p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Skills</h5>
					<hr>
					<p>Technical Skills: Python, Java, C, Django, HTML Framework, MySQL, MongoDB.</p>
					<p>Personal Skills: Communication, Teamwork, Time Management, Creativity, Problem solver, Event Organizer.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Certificates</h5>
					<hr>
					<p>AWS Academy Graduate - AWS Academy Cloud Foundations</p>
                    <p>AWS Academy Graduate - AWS Academy Cloud Architecting</p>
					<p>Certified Advanced Automation Professional</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
				<hr>
				<p>1. Tip Calculator using Kotlin in Android Studio</p>
                <p>2. Zodiac Horoscope with Android Studio using java</p>
                <p>3. Hospital Mangaement System</p>
                <p>4. Food Delivery App web Application Using Django</p>
                <p>5. Rainwater Storage System On roads, in EPICS</p>
				<p>6. Handwritten Digit Generator - DCGAN</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>